<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Add Book</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>
<!--/*@thymesVar id="book" type="com.librarySystem.demo.model.Book"*/-->
  <div th:replace="~{fragment/header :: header}">Header</div>

  <main class="row">
    <div class="container py-5 col-md-6">
      <div class="card">
        <h2 class="card-header">Book Add</h2>
      </div>
      <form class="card-body row" th:object="${book}" th:action="@{/book}" method="post">
        <div class="col-md-6 py-2">
          <label class="col-form-label" for="bookName">Book Name:</label>
          <input type="text" th:field="*{bookName}" class="form-control" id="bookName" />
        </div>

        <div class="col-md-6 py-2">
          <label class="col-form-label" for="publisher">Publisher:</label>
          <!--/*@thymesVar id="publisherName" type="com.librarySystem.demo.model.Publisher"*/-->
          <input type="text" th:field="*{publisher.publisherName}" class="form-control" id="publisher" />
        </div>

        <div class="col-12 py-2">
          <label class="col-form-label" for="isbn">ISBN:</label>
          <input type="text" th:field="*{isbn}" class="form-control" id="isbn" />
        </div>

        <!--/*@thymesVar id="authorName" type="com.librarySystem.demo.model.Author"*/-->
        <div class="col-12 py-2">
          <label class="col-form-label" for="authorName">Author Name:</label>
          <input type="text" th:field="*{authors}" class="form-control" id="authorName" />
        </div>

        <input type="submit" class="btn btn-primary my-5 col-md-2" />
      </form>
    </div>
  </main>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
  </script>
</body>

</html>