<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>User Edit Page</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>
<!--/*@thymesVar id="user" type="com.librarySystem.demo.model.User"*/-->
  <div th:replace="~{fragment/header :: header}">Header</div>

  <main class="row">
    <div class="container py-5 col-md-6">
      <div class="card">
        <h2 class="card-header">User Edit</h2>
      </div>
      <form class="card-body row" th:object="${user}" th:action=" ${user.id}" method="post">
        <input type="hidden" name="_method" value="put">

        <div class="col-md-6 py-2">
          <label class="col-form-label" for="firstName">First Name:</label>
          <input type="text" name="firstName" class="form-control" id="firstName" th:value="${user.firstName}" />
        </div>

        <div class="col-md-6 py-2">
          <label class="col-form-label" for="lastName">Last Name:</label>
          <input type="text" name="lastName" class="form-control" id="lastName" th:value="${user.lastName}" />
        </div>

        <div class="col-12 py-2">
          <label class="ccol-form-label" for="email">E-mail:</label>
          <input type="email" name="email" class="form-control" id="email" th:value="${user.email}" />
        </div>

        <div class="form-group py-2">
          <label class="form-check form-check-inline">
            <input type="radio" name="sex" value="male" class="form-check-input" id="male"
              th:checked="${user.sex == 'male'}" />
            <span class="form-check-label" for="male">
              Male
            </span>
          </label>

          <label class="form-check form-check-inline">
            <input type="radio" name="sex" value="female" class="form-check-input" id="female"
              th:checked="${user.sex == 'female'}" />
            <span class="form-check-label" for="female">
              Female
            </span>
          </label>
        </div>

        <div class="col-md-12 py-2">
          <label class="col-form-label" for="phone">Phone:</label>
          <input type="text" name="telephone" class="form-control" id="phone" th:value="${user.telephone}" />
        </div>

        <div class="col-md-12 py-2">
          <label class="col-form-label" for="userName">userName:</label>
          <input type="text" name="userName" class="form-control" id="userName" th:value="${user.userName}" />
        </div>

        <input type="submit" class="btn btn-primary my-5 col-md-2" />
      </form>
    </div>
  </main>
</body>

</html>