<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Book List</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>

<body>
    <div th:replace="~{fragment/header :: header}">Header</div>

    <main>
        <div class="container py-5">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-info">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Book Name</th>
                        <!--                        <th scope="col">Author Name</th>-->
                        <th scope="col">Publisher</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tr th:each="book : ${books}">
                    <th th:text="${book.id}">1</th>
                    <td th:text="${book.bookName}">b</td>
                    <!--                    <td><a th:each="author : ${book.authors}" th:text="${author.getAuthorName()} + ' '"></a></td>-->
                    <td th:text="${book.publisher.publisherName}">p</td>
                    <td th:text="${book.isbn}">1234567</td>
                    <td>
                        <button type="submit" class="btn btn-warning btn-sm">Edit
                        </button>
                        <form th:object="${book}" th:action="@{'/book/bookDelete/' + ${book.id}}" th:method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>